.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .name-section {
    display: flex;
    gap: 10px;
  }
  .name-section input {
    width: 50%;
  }
  .password-section {
    display: flex;
    gap: 10px;
  }
  .password input {
    width: 50%;
  }
  .checkbox-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .checkbox-section input {
    width: auto;
    margin-right: 10px;
  }
  .buttons {
    margin-top: 15px;
  }
  .buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .register {
    background-color: #4c80f1;
    color: white;
  }
  .sign-in {
    background-color: #4caf50;
    color: white;
  }
  .terms {
    font-size: 14px;
    margin-top: 5px;
  }
  .terms a {
    color: blue;
    text-decoration: none;
  }